# IDE files
.vscode/
.idea/

# Local data & temp files
.DS_Store

# Images
*.png
*.jpg
*.jpeg
*.gif

# Extra files to ignore
fluxomei.html
contexto.md
"transcrição do livro.md"
"Captura de tela 2026-06-14 153207.png"
c8dfadf2-07a7-4b7e-a26a-5b21f1290ec5.jpg
